{% extends 'base.html.twig' %}

{% block title %}  management {% endblock %}

{% block body %}

	<nav class="container">
        <div class="grid wide">
            <div class="row sm-gutter container__shorter">
                
                <div class="col l-2">
                    <div class="container__category">
                        <div class="container__category-header">
                            <i class="container__category-header-logo fas fa-list"></i>
                            <span class="container__category-header-item">List Category</span>
                        </div>
                        <ul class="container__category-list">
                            <li class="container__category-list-item container__category-list-arrow">
                                <a href="" class="container__category-item-link">ALL CATEGORY</a>
                            </li>
                            <li class="container__category-list-item">
                                <a href="" class="container__category-item-link">💙 BÁN CHẠY</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col l-10">
                    <div class="home__filter hide-on-tablet-mobile">
                        <span class="home__filter-lable">Sorted by...</span>
						 {% if is_granted('ROLE_ADMIN') %}
                        	<a class="btn btn--primary home__filter-button" href="{{ path('book_add')}}">ADD</a>
						{% endif %}
						<a class="btn home__filter-button" href="{{ path('homepage')}}">Home</a>
						<a class="btn btn--primary home__filter-button" href="{{ path('book_index')}}">Book List</a>
						<a class="btn btn--primary home__filter-button" href="{{ path('author_index')}}">Author List</a>
						 {% if is_granted('ROLE_ADMIN') %}
							<a class="btn home__filter-button" style="color: black" href="{{ path('book_edit', {'id': book.id}) }}">Update</a>
							<a class="btn home__filter-button" href="{{ path('book_delete', {'id': book.id}) }}" onclick="return confirm('Are you sure to delete?')" style="color: black">DELETE</a>
						{% endif %}
						<a class="btn btn--primary home__filter-button" href="">Add to cart</a>
                    </div>

                    <div class="home__product">
                        <div class="row sm-gutter ">
							<div class="product_info-img">
								<img src="{{asset('images/book/'~book.image)}}"
								alt="cover" width="250" height="330">
							</div>
							<div class="product_info-item">
								<div class="product-list_info bold">
									<span>ID:</span><br><br>
									<span>Title:</span><br><br>
									<span>Publisher:</span><br><br>
									<span>Quantity:</span><br><br>
									<span>Price:</span><br><br>
									<span>Athor:</span>
								</div>
								<div class="product-list_info inherit">
									<span>{{book.id}}</span><br><br>
									<span>{{book.title}}</span><br><br>
									<span>{{book.publisher}}</span><br><br>
									<span>{{book.Quantity}}</span><br><br>
									<span>{{book.price}}</span><br><br>
									<span>
										{% for a in book.author %}
											<a href="{{ path('author_detail', {'id': a.id }) }}" style="text-decoration: none;">
												{{ a.name }}
											</a>
											<br>
										{% endfor %}
									</span>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
